body, html {
  height: 100%;
}

div#LoginForm {
  background: url('images/blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.form-heading a {
  color: #fff;
  font-size: 22pt;
  text-decoration: none;
}

.panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 8px 0;
}

.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.login-color {
  background-color: #fffaf6;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  background: #fffaf6 none repeat scroll 0 0;
  border-radius: .5em;
  margin: 10px auto 30px;
  padding: 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 12px rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width:768px) {
  .main-div {
    max-width: 38%;
    border-radius: .5em;
  }
}

.login-form .form-group {
  margin-bottom: 10px;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

.back {
  text-align: left;
  margin-top: 10px;
}

.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

.footer {
  color: #777777;
  padding: 40px 0px;
}

.footer h1 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer ul li {
  margin: 10px 0px;
}

.footer ul li a {
  color: #777777;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #777777;
}

.active-status {
  color: #00e600;
}

.inactive-status {
  color: orange;
}

.termindated-status {
  color: red;
}

div#employee_buttons {
  padding-bottom: 20px;
}

div#employee_buttons button {
  margin-bottom: 5px;
}

.smallfont {
  font-size: 8pt;
}

a.header_active {
  color: #00e600 !important;
}

.form-heading {
  width: 100%;
  color: #333333;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

div.help-div h4 {
  padding-bottom: 0;
}

div.help-div ul {
  padding: 1em;
  padding-top: 0;
}

.alert-dismissable {
  display: none;
}

#example_length {
  padding-right: 2em;
}

/* CSS REQUIRED */
.state-icon {
  left: -5px;
}

.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
  margin-bottom: 0px;
}

.box {
  background: #fff;
  transition: all 0.2s ease;
  border: 2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  min-height: 340px;
}

.box:hover {
  border: 2px solid #525C7A;
}

.box span.box-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.box .box-content p {
  color: #515c66;
  text-transform: none;
}

.dataTables_length {
  padding-right: 2em;
}

.card {
  position: relative;
  height: 15em;
}

.card-body p {
  padding-bottom: 40px;
}

.card-body a {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.remove_div {
  display: none;
  margin-bottom: 5px;
}

.alertMessageLink {
  color: inherit;
}

.errorInput {
  border-color: red;
}

.redFont {
  color: red;
}

.appendedMsg {
  display: block;
}

#errorMsg {
  display: none;
}

.description {
  white-space: pre-wrap;
}

.center-text {
  text-align: center;
}